trigger:
  branches:
    include: ["uat"]

pr:
  branches:
    include: ["uat"]

pool:
  name: "macOs"

variables:
  - group: expo-uat-secrets

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Use Node.js 20"

  - script: |
      node -v
      npm -v
      npm ci
      npm i -g eas-cli
      eas --version

      echo "Trigger Android UAT..."
      eas build --platform android --profile uat --non-interactive --no-wait
    displayName: "Trigger EAS Android UAT build"
    env:
      EXPO_TOKEN: $(EXPO_TOKEN)
